{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Bienvenido, {{ name }}!!!
</h1>

    <form action="/profile/" >
    	{% if a == "Profesional"%}
            <a>
                <a href="{{ url_for('main.profile_dias') }}" class="navbar-item">
            Agregar dias de atencion
            </a>
        {% endif %}
    </form>

{% if dias %}
  <form action="/profile/dias" method="POST">
            <div class="box">    
            Seleccione su nuevo dia de atencion:
                {% if dias %}
                <div class="list-group">
                    {% for dia in dias[0::] %}
                        <input type="radio" name="dia" value="{{dia.id}}">{{dia.descripcion}}<br>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
            <div class="box">    
            Seleccione sus horarios de atencion para el dia: {{ dia }}:
                {% if horas %}
                <div class="list-group">
                    {% for hora in horas[0::] %}
                        <input type="checkbox" name="horasAingresar" value="{{hora.id}}">{{hora.hora_inicio}}<br>  
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <a>
            	<button class="button is-block is-info is-large is-fullwidth">Siguiente</button>

            </a>
    </form>
{% endif %}




{% endblock %}