{% extends "base.html" %} {% block content %}
<h1 class="title">
    Bienvenido al consultorio
</h1>

<form action="/profile/">
    {% if a == "Profesional"%}
    <a>
        <a href="{{ url_for('main.profile_dias') }}" class="navbar-item">
            Agregar dias de atencion
            </a>
        <a>
            <a href="{{ url_for('main.profile_atencion') }}" class="navbar-item">
            Ver mis dias de atencion
            </a>
            <a>
                <a href="{{ url_for('main.profile_turnos') }}" class="navbar-item">
            Ver mis Turnos
            </a> {% endif %} {% if a == "Paciente"%}
                <a>
                    <a href="{{ url_for('turno.paciente_elegirEsp') }}" class="navbar-item">
            Solicitar Turno
            </a>
                    <a>
                        <a href="{{ url_for('main.profile_miturnos') }}" class="navbar-item">
            Ver mis Turnos
            </a> {% endif %}
</form>


{% if dias %}
<form action="/profile/dias" method="POST">
    <div class="box">
        Seleccione su nuevo dia de atencion: {% if dias %}
        <div class="list-group">
            {% for dia in dias[0::] %}
            <input type="radio" name="dia" value="{{dia.id}}">{{dia.descripcion}}<br> {% endfor %}
        </div>
        {% endif %}

    </div>
    <div class="box">
        Seleccione sus horarios de atencion para el dia: {{ dia }}: {% if horas %}
        <div class="list-group">
            {% for hora in horas[0::] %}
            <input type="checkbox" name="horasAingresar" value="{{hora.id}}">{{hora.hora_inicio}}<br> {% endfor %}
        </div>
        {% endif %}
    </div>
    <a>
        <button class="button is-block is-info is-large is-fullwidth">Siguiente</button>

    </a>
</form>
{% endif %} {% if ate%}
<link rel="stylesheet" href="{{url_for ('static', filename = 'css/tabla.css' )}}">
<form action="/profile/atencion" method="POST">
    <div class="box">
        <div class="list-group">
            <table border="2">
                <thead>
                    <tr>
                        <th>Dia </th>
                        <th>Hora Incio </th>
                        <th><button class="button">Eliminar Atencion</button></th>
                    </tr>
                </thead>
                <tr>
                    {% for a in o%}
                    <td>{{a[1]}} </td>
                    <td> {{a[2]}} </td>
                    <td><input type="checkbox" name="ch" value="{{a[0]}}" /></td>
                    <tr></tr>
                    {% endfor %}
            </table>
        </div>
    </div>
    {% endif %} {% if o == [] %}
    <div class="box">
        <td>No existen dias de Atención.</td>
    </div>
    {% endif%} {% if tur%}
    <link rel="stylesheet" href="{{url_for ('static', filename = 'css/tabla.css' )}}">
    <form action="/profile/turnos" method="POST">
        <div class="box">
            <div class="list-group">
                <table border="2">
                    <thead>
                        <tr>
                            <th>Nombre Paciente</th>
                            <th>DNI </th>
                            <th>Mail </th>
                            <th>Telefono </th>
                            <th>Descripcion </th>
                            <th>Dia </th>
                            <th>Hora </th>
                            <th><button class="button">Eliminar Turno</button></th>
                        </tr>
                    </thead>
                    <tr>
                        {% for a in x%}
                        <td> {{a[2]}}, {{a[1]}} </td>
                        <td> {{a[3]}} </td>
                        <td> {{a[4]}} </td>
                        <td> {{a[5]}} </td>
                        <td> {{a[6]}} </td>
                        <td> {{a[7]}} </td>
                        <td> {{a[8]}} </td>
                        <td><input type="checkbox" name="tu" value="{{a[0]}}" /></td>
                        <tr></tr>
                        {% endfor %}
                </table>
            </div>
        </div>
        {% endif%} {% if x == [] %}
        <div class="box">
            <td>No existen Turnos.</td>
        </div>
        {% endif%} {% if mitur%}
        <link rel="stylesheet" href="{{url_for ('static', filename = 'css/tabla.css' )}}">
        <form action="/profile/miturnos" method="POST">
            <div class="box">
                <div class="list-group">
                    <table border="2">
                        <thead>
                            <tr>
                                <th>Nombre Medico</th>
                                <th>Mail </th>
                                <th>Observacion </th>
                                <th>Dia </th>
                                <th>Hora </th>
                                <th><button class="button">Eliminar Turno</button></th>
                            </tr>
                        </thead>
                        <tr>
                            {% for a in w%}
                            <td> {{a[2]}}, {{a[1]}}</td>
                            <td> {{a[3]}} </td>
                            <td> {{a[4]}} </td>
                            <td> {{a[5]}} </td>
                            <td> {{a[6]}} </td>
                            <td><input type="checkbox" name="tu" value="{{a[0]}}" /></td>
                            <tr></tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
            {% endif%} {% if w == [] %}
            <div class="box">
                <td>No existen Turnos.</td>
            </div>
            {% endif%} {% endblock %}