/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

body {
    background-color: #632432;
    font-family: Arial;
}

#main-container {
    margin: 150px auto;
    width: 600px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.button {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

th,
td {
    padding: 20px;
}

thead {
    background-color: #246355;
    border-bottom: solid 5px #0F362D;
    color: white;
}

tr:nth-child(even) {
    background-color: #ddd;
}

tr:hover td {
    background-color: #369681;
    color: white;
}

